/runs/detect
!/runs/detect/.gitkeep

/runs/cls
!/runs/cls/.gitkeep

/wandb

/videos/*.mp4
/videos/*.MOV
/videos/*.parquet

/dataset/images/train/*
/dataset/images/val/*
/dataset/labels/train/*
/dataset/labels/val/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
